.update-editor {
  line-height: 1.7;
    padding: 5px 10px;
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: .75em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: .83em 0;
  }
  a {
    color: blue;
  }
  a:visited {
    color: purple;
  }
}

.story-editor {
  line-height: 1.7;
    padding: 5px 10px;
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: .75em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: .83em 0;
  }
  a {
    color: blue;
  }
  a:visited {
    color: purple;
  }
}