html, body, header, nav, h1, a, thead, tbody,
ul, li, strong, main, button, i, tfoot,
section, img, div, h2, h3, h4, p, em, form,
fieldset, label, input, textarea, tr, td, th,
span, article, footer, time, small, ol, select, option {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration:inherit;
  vertical-align:inherit;
  box-sizing:inherit;
  background:inherit;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}