.project-show-tabs {
  display: flex;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;

  a {
    padding: 20px 0;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: -20px;
  }
  a:hover {
    color: green;
  }
  .active:hover {
    color: shade(green, 30%);
  }
  .active {
    border-bottom: 3px solid black;
    font-weight: 500;
  }
}