//project_index_tile

.project-index-tile {
  padding: 0px 0px 11px;
  margin: 0px 0px 12px;
  border-bottom: 1px solid #DCDEDD;
  list-style-type: none;
  max-width: 315px;
  a {
    display: flex;
    justify-content: space-between;
  }
}

.project-index-tile:hover {
  .project-index-tile-name {
    color: darkgreen;
    text-decoration: underline;
  }
}

.project-index-tile-image {
  margin-right: 10px;
  
  img {
    height: 90px;
    width: 270px;
    object-fit: cover;
    object-position: center;
  }
}

.project-index-tile-info {
  width: 158px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-index-tile-name {
  font-size: 14px;
  color: #282828;
}

.project-index-tile-info-detail {
  padding: 7px 0px;
  font-size: 12px;
}

.project-index-tile-funded {
  font-weight: 700;
  color: #037362;
}

.project-index-tile-project-creator {
  color: #656969;
}

.project-index-tile-bookmark {
  align-self: center;
  color: #DCDEDD;

  :hover{
    color: #282828;
  }
}

.followed {
  i {
    color: #05ce78;
  }
}

.followed:hover {
  i {
    color: green;
  }
}
//project_index_large_tile

.project-index-large-tile {
  // border-right: 1px solid #DCDEDD;
  // padding: 0px 40px 0px 0px;
  // height: 600px;
  height: 100%;
  margin-top: 40px;
  margin-right: 30px;
}

.large-tile-link:hover {
  .project-index-large-tile-name {
    color: darkgreen;
    text-decoration: underline;
  }
}

.project-index-large-tile.only {
  // border-right: 1px solid #DCDEDD;
  // padding: 0px 40px 0px 0px;
  // height: 600px;
  padding-right: 0;
  padding-left: 10px;
}

.project-index-large-tile-image-container {
  // width: 391px;
  height: 220px;
  margin-bottom: 0.8em;
}

.project-index-large-tile-image {

  img {
    width: 391px;
    height: 220px;
  }
}

.project-index-large-tile-bookmark {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 200px;
  right: -340px;
  width: 1.6em;
  height: 1.6em;
  background-color: transparent;
  color: #FFFFFF;
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  opacity: 0.5;

  :hover {
    color: #05ce78;
    cursor: pointer;
  }
}

.project-index-large-tile-info {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  width: 391px;
}

.project-index-large-tile-name {
  color: #282828;
  font-size: 22px;
  line-height: 30px;
  box-sizing: border-box;
}

.project-index-large-tile-description {
  color: #282828;
  font-size: 16px;
  line-height: 24px;
}

.project-index-large-tile-project-creator {
  color: #656969;
  font-size: 12px;
  line-height: 18px;
}

//projects_index

.projects-index-segment {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0px 70px;
  height: 28em;
  .project-index-tile-image {
    margin-right: 10px;
  
    img {
      height: 90px;
      width: 170px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.projects-index-segment-large-tile {
  border-right: 1px solid #DCDEDD;
  display: block;
}

.projects-index-segment-large-tile.only {
  border-right: none;
}

.projects-index-segment-side {
  // display: flex;
  // flex-direction: column;
  padding-top: 40px;
  // margin-left: -60px;
  padding-left: 30px;
}

.projects-index-category-list {
  display: flex;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  height: 4em;
  padding: 12px 0;
  margin: 0 auto;
  box-sizing: border-box;
  ul {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.projects-index-category-list-item {
  padding: 8px 12px;
  margin: 0 10px;
  color: #656969;
  font-size: 16px;
  box-sizing: border-box;
  a {
    transition: border-width 0.5s, padding-bottom 0.5s;
  }
}

.projects-index-category-list-item:hover {
  cursor: pointer;
  a {
    color: darkgreen;
    border-bottom: 3px solid darkgreen;
    padding-bottom: 4px;
  }
}

.category-index-header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.category-index-description {
  text-align: center;
  margin-bottom: 30px;
}