.build-form-basics {
  h2 {
    margin-top: 70px;
    font-size: 28px;
    text-align: center;
  } 
  & > p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px;
    color: lightgray;
    font-size: 19px;
    text-align: center;
    max-width: 600px;
  }
}

.build-form-basics-form {
  height: 100px;
  border-top: 1px solid black;
}

.basics-panel {
  display: flex;
  padding: 0 10px;
  border-bottom: 1px solid black;
  .basics-info {
    width: 30%;
    padding: 40px;
    h4 {
      font-size: 1.19em;
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      color: gray;
      line-height: 1.6;
      margin-bottom: 0.94em;
    }
    p:last-of-type {
      margin-bottom: 5px;
    }
  }
  .basics-form {
    padding: 80px 40px;
    padding-left: 100px;
    width: 70%;
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 0.94em;
    }
    input, select, textarea {
      background-color: white;
      padding: 12px 10px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid lightgray;
    }
    input:focus, input:hover, 
    select:focus, select:hover,
    textarea:focus, textarea:hover {
      border: 1px solid green;
    }
    textarea {
      resize: none;
      line-height: 1.6;
    }
    select {
      option {
        color: black;
      }
      #default-option {
        display: none;
      }
    }
    .input-group {
      width: 100%;
      display: flex;
      .input-group-sign {
        background-color: lightgray;
        width: 10%;
        box-sizing: border-box;
        padding: 12px 15px;
        text-align: center;
        user-select: none;
      }
      input {
        display: block;
        width: 90%;
      }
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
    }
    .date-group {
      display: flex;
      align-items: center;
      font-size: 16px;
      #year-container {
        width:80px;
        input {
          width: 60px;
        }
      }
      .date-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        input {
          width: 40px;
          margin-right: 3px;
        }
        input:last-child {
          width: 80px;
        }
        span {
          text-align: center;
        }
      }
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      .datepicker-container {
        margin-left: 3px;
        display: inline-block;
        i {
          font-size: 28px;
          margin-bottom: 20px;
        }
        i:hover {
          color: tint(black, 30%);
          cursor: pointer;
        }
        #date-picker {
          width: 0;
          padding: 0;
          visibility: hidden;
          background-color: transparent;
        }
        #date-picker:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.date-error {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}

.react-datepicker__triangle {
  display: none;
}

.add-image {
  background-color: lightgray;
  height: 144px;
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  cursor: pointer;
  @include md {
    height: 288px;
    width: 512px;
  }
}

.change-image {
  cursor: pointer;
}

#image-file-input {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}