.story-wrapper {
  width: 60%;
  margin: 0 auto;
  border: 1px solid gray;
  min-height: 200px;
  margin-bottom: 150px;
}

.story-toolbar {
  display: flex;
  justify-content: center;
}

.story-editor {
  padding: 5px 10px;
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: .75em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: .83em 0;
  }
  a {
    color: blue;
  }
  a:visited {
    color: purple;
  }
}