@import './tabs';
@import './story';
@import './basics';
@import './rewards';
@import './editor';

.build-form-tabs {
  padding-top: 64px;
}

.build-form-container {
  width: 98.5%;
  @include md {
    width: 100%;
  }
}

.build-form-nav-container {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 5;
}

.build-form-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .build-nav-logo {
    a {
      font-family: 'Fredoka One', cursive;
      font-weight: 900;
      color: #05ce78;
    }
    font-size: 24px;
    padding: 10px;
    text-transform: uppercase;
  }
  > button {
    padding: 14px 25px;
    background-color: #05ce78;
    // border: 1px solid darkslategray;
    align-self: center;
    border-radius: 5px;
    color: white;
  }
  > a {
    padding: 14px 25px;
    background-color: #05ce78;
    // border: 1px solid darkslategray;
    align-self: center;
    border-radius: 5px;
    color: white;
  }
  #launch-button {
    padding: 10px 20px;
    background-color: lightcyan;
    border: 1px solid blue;
  }
}