.build-form-rewards {
  position: relative;
  > h2 {
    margin-top: 70px;
    font-size: 28px;
    text-align: center;
  } 
  > p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px;
    color: lightgray;
    font-size: 19px;
    text-align: center;
    max-width: 600px;
  }
}

.add-reward-button {
  display: block;
  margin: 0 auto;
  padding: 20px 35px;
  background-color: black;
  color: white;
  margin-bottom: 100px;
}

.add-reward-button:hover {
  background-color: tint(black, 20%);
}

.reward-cancel {
  padding: 10px 18px;
  border: 1px solid lightgray;
  margin-right: 12px;
}

.reward-save {
  padding: 10px 25px;
  background-color: lightgreen;
  border: 1px solid green;
}

.reward-form-container {
  margin-top: 100px;
  > h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  > span {
    display: block;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}

.reward-modal {
  position: absolute;
  width: 100%;
  top: 200px;
  height: 300px;
  opacity: 0.5;
}

.reward-modal:hover {
  cursor: not-allowed;
}

.reward-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  height: 500px;
  padding: 55px;
  padding-top: 40px;
  > div {
    width: 80%;
    label {
      display: block;
      font-size: 18px;
      margin-bottom: 18px;
    }
    > input, > textarea {
      display: block;
      width: 100%;
      background-color: white;
      border: 1px solid lightgray;
      font-size: 16px;
      line-height: 1.6;
      padding: 3px 8px;
      margin-bottom: 35px;
      box-sizing: border-box;
    }
  }
}

.reward-input-group {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 35px;
  .reward-input-group-sign {
    background-color: lightgray;
    width: 10%;
    height: 100%;
    padding: 6px 9px;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
  }
  input {
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 8px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.reward-list-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
  .reward-list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    font-size: 18px;
    h3 {
      display: block;
      padding: 15px 10px;
      padding-bottom: 0;
      margin-right: 25%;
      white-space: nowrap;
    }
  }
}

.reward-panel {
  border: 1px solid lightgray;
  margin: 20px auto;
  .reward-panel-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    > p {
      font-size: 18px;
      height: 30px;
      padding-left: 8px;
      margin-top: 40px;
      align-self: center;
    }
    .reward-panel-details {
      margin-top: 20px;
      h4 {
        padding: 8px;
        font-size: 18px;
        font-weight: 700;
      }
      p {
        padding: 8px;
        padding-right: 12px;
        padding-bottom: 12px;
      }
    }
  }
  .reward-panel-buttons {
    display: flex;
    justify-content: flex-end;
    button {
      margin-right: 15px;
      padding: 12px 8px;
    }
    button:hover {
      color: tint(black, 20%);
    }
  }
}
