.build-form-story {
  > h2 {
    margin-top: 70px;
    font-size: 28px;
    text-align: center;
  } 
  & > p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px;
    color: lightgray;
    font-size: 19px;
    text-align: center;
    max-width: 600px;
  }
}

.editor-container {
  padding: 3px;
  padding-top: 0;
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
}

.editor {
  box-sizing: border-box;
  cursor: text;
  margin: 0 auto;
  background: #fefefe;
  min-height: 250px;
  width: 100%;
}

.story-write-wrapper {
  border: 1px solid darkgray;
}