.nav-dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80vw;
  // box-shadow: 0px 0px 6px 0px darkgrey;
  right: 0;
  top: 4.5em;
  padding: 10px 40px;
  padding-bottom: 15px;
  border: 1px solid #9B9E9E;
  font-size: 14px;
  line-height: 24px;
  color: #282828;
  z-index: 101;
  @include md {
    width: auto;
    right: 15px;
    flex-direction: row;
  }
}

#nav-dropdown-exit {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em;
  right: 1.1em;
  top: 0.8em;
  @include md {
    display: none;
  }
}

.nav-dropdown-account {
  display: flex;
  padding-top: 0.65em;
  flex-direction: column;
  margin-bottom: 0.8em;
  @include md {
    margin-bottom: 0;
  }
  * {
    display: table;
    font-size: 1.1em;
    margin-right: auto;
    margin-bottom: 3px;
    include md {
      margin: 0;
      display: block;
      width: 100%;
    }
  }
  span {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    @include md {
      border-bottom: none;
      padding-bottom: none;
    }
  }
}

.nav-dropdown-bottom {
  display: flex;
}

.nav-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
}

.nav-dropdown-table {
  text-transform: none;
  @include md {
    margin-left: 3em;
    border-spacing: 1em 0.6em;
  }
  th {
    padding-bottom: 5px;
  }
}

.dropdown-project-cell {
  text-transform: none;
  height: 30px;
  a {
    display: flex;
    padding: 5px;
    img {
      width: 50px;
      height: 28px;
      object-fit: cover;
    }
    p {
      width: 19vh;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 10px;
    }
  }
  a:hover {
    background-color: shade(white, 20%);
  }
}