.nav {
  background-color: white;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  z-index: 100;
  > a {
    .nav-logo {
      font-family: 'Fredoka One', cursive;
      font-weight: 900;
      font-size: x-large;
      color: #05ce78;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.nav-dropdown-button:hover {
  cursor: pointer;
}

.nav-links {
  color: #282828;
  font-size: 14px;
  font-weight: 300;
  margin-left: 0.4em;
  a {
    font-weight: 400;
    padding: 0.8em 0.3em;
  }
  a:first-of-type {
    margin-right: 0.3em;
  }
  a:hover {
    color: darkgreen;
  }
}

.nav-dropdown-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.nav-login-links {
  color: #282828;
  font-size: 14px;
  font-weight: 300;
  a {
    font-weight: 400;
    padding: 0.8em 0.3em;
  }
  a:first-of-type {
    margin-right: 0.3em;
  }
  a:hover {
    color: darkgreen;
  }
}

.nav-right {
  display: flex;
  margin-right: 0.6em;
  > button {
    font-weight: 300;
    margin-right: 0.6em;
    font-size: 15px;
    padding: 0.8em 0.4em;
    i {
      font-size: 13px;
    }
  }
  > button:hover {
    color: darkgreen;
  }
}