.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  z-index: 100;
}

.nav-dropdown-button:hover {
  cursor: pointer;
}

.nav-links {
  color: #282828;
  font-size: 14px;
  font-weight: 300;
}

.nav-logo {
  font-family: 'Fredoka One', cursive;
  margin-right: 125px;
  font-weight: 900;
  font-size: x-large;
  color: #05ce78;
  margin: 0 auto;
}

.nav-dropdown-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.nav-dropdown-content {
  display: grid;
  position: fixed;
  // box-shadow: 0px 0px 6px 0px darkgrey;
  right: 15px;
  top: 65px;
  padding: 15px 25px;
  border: 1px solid #9B9E9E;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #282828;
}

.nav-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}

.nav-login-links {
  color: #282828;
  font-size: 14px;
  font-weight: 300;
}

.nav-right {
  display: flex;
  > button {
    font-weight: 300;
    margin-right: 20px;
    font-size: 15px;
    i {
      font-size: 13px;
    }
  }
}